
#map{
  padding: 50%;
  text-align: center;
  width: 80%; 
  
}
#splashImg{
  padding: 100%;
  display: block;
  background-color: #033333;
}

#principal{
  display: none;
}

#icon{
  color: #ffffff;
}

.text{
  color:#033333;
  font-weight: bold;
  font-family: Helvetica; 
  font-size: 250%;
}



#headLogo{
  width: 30%;
  display: inline;
  margin-left: -20%;
}

#headTitle{
  color:#033333;
  font-weight: bold;
  font-family: Helvetica; 
  font-size: 350%;
  margin-top: 30%;
  margin-bottom: 20%;
  display: inline;
}
/******************************SPLASH*************************************/
.col-12{
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  
}
.col-10{
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
}

#title{
  color:#033333;
  font-weight: bold;
  font-family: Helvetica; 
  font-size: 650%;
  margin-top: 30%;
  margin-top: 20%;
}


/*******************************MODAL***************************************/

.menu{
  position: relative;
  top:0;
  transition: 0.5s ease-out;
  padding: 1%;
  text-align: center;
  z-index: 20;
  background-color: blue;
}

h2{
  
}

#textModal{
  position: relative;
  text-align: center;
  z-index: 20;
  
}

#infoRestaurant{
  text-align: center;
  
}

.close_button{ /* configurando boton de cierre del modal*/
  font-size: xx-large;
  color: white;
  position: absolute;
  right: 10px;  
  top:0px;
  cursor: pointer;                 
}

.menu_content{
  z-index: 20;

  margin-top: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 200%;
  position: relative;
 
}

#filtrarRestaurantes{
  color: blue;
}

